.form-wrapper form input {
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    background: #ffffff33;
    border-radius: 5px 25px 25px 5px;
    border: 0;
    box-shadow: none;
    outline: none;
}

.form-wrapper form button {
    width: 50px;
    height: 50px;
    background: transparent url(../../assets/images/plus.png) no-repeat center/cover;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;

    border-radius: 25px;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}