.form-wrapper {
    width: 100%;
    height: 80px;

    position: relative;
    padding: 15px;
    z-index: 5;

    background-color: #4682b4;
    box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.todo-container {
    width: 100%;
    padding: 15px;
}

.todo-list {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
}

.todo-list.failed:empty:after {
    content: 'Нет задач на выполнение';
}

.todo-list.failed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}

.todo-list.completed {
    position: relative;
    padding: 60px 0 0 0;
}

.todo-list.completed:empty:after {
    content: 'Нет выполненых задач';
}

.todo-list.completed:before {
    content: '';
    width: 150px;
    height: 1px;
    background: #d8e5e0;

    position: absolute;
    top: 25px;
    left: calc(50% - 75px);
}

.todo-list.completed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}